[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
responses = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.7"
